.heroBanner {
    padding: 1rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }
  
  @media screen and (max-width: 996px) {
    .heroBanner {
      padding: 2rem;
    }
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .featureSvg {
    height: 170px;
    width: 170px;
  }

  .features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }
  
  .featureSvgHomeFeatures {
    height: 150px;
    width: 150px;
  }
  