 .heroBanner {
    padding: 1rem 0;
    text-align: center;
    position: relative;
    overflow: hidden;
  }

  .weatherWidgetContainer {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    max-width: 300px;
  }

  .visitorWidgetContainer {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
    max-width: 220px;
  }
  
  .homePageContainer {
    position: relative;
  }
  
  @media screen and (max-width: 996px) {
    .heroBanner {
      padding: 2rem;
    }

    .visitorWidgetContainer {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
      max-width: 180px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .visitorWidgetContainer {
      position: static;
      margin: 0 auto 0.5rem auto;
      width: fit-content;
      max-width: 100%;
    }

    .weatherWidgetContainer {
      position: static;
      max-width: 100%;
      margin-bottom: 1rem;
    }
  }

  @media screen and (max-width: 768px) {
    .weatherWidgetContainer {
      max-width: 100%;

    }
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .features {
    display: flex;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }
  
  .featureSvg {
    height: 270px;
    width: 270px;
  }

  .featureSvgHomeFeatures {
    height: 170px;
    width: 170px;
    margin: 0 auto 1rem auto;
    display: block;
  }